<% if (!loggedIn) { %>
  <div id="books" class="toMain">
    Please <a href="./login" id="login_a_element">log in</a> to see our books.
  </div>
  <% } else { %>
    <div id="cartContainer">
      <%- include('../partials/cart') %>
    </div>

    <div class="toMain flexContainer">
      <%- include('./filter') %>

        <% if (viewData?.result !=='default' ) { %>
          <% if (viewData?.result.length===0) { %>
            <div id="noResultsDiv">No results found.</div>
            <% } else { %>
              <div class="searchResult">
                <% if (viewData.totalPages> 1) { %>
                  <div class="pagination">
                    <% if (viewData.page> 1) { %>
                      <a href="./books/search?subject=<%= viewData.subject %>&author=<%= viewData.author %>&title=<%= viewData.title %>&page=<%= viewData.page - 1 %>"
                        class="prevButton">
                        ← Prev
                      </a>
                      <% } %>

                        <span>Page <%= viewData.page %> of <%= viewData.totalPages %></span>

                        <% if (viewData.page < viewData.totalPages) { %>
                          <a href="./books/search?subject=<%= viewData.subject %>&author=<%= viewData.author %>&title=<%= viewData.title %>&page=<%= viewData.page + 1 %>"
                            class="nextButton">
                            Next →
                          </a>
                          <% } %>
                  </div>
                  <% } %>

                    <% viewData.result.forEach((book)=> { %>
                      <%- include('./container', {book}) %>
                        <% }) %>
                          <% if (viewData.totalPages> 1) { %>
                            <div class="pagination">
                              <% if (viewData.page> 1) { %>
                                <a href="./books/search?subject=<%= viewData.subject %>&author=<%= viewData.author %>&title=<%= viewData.title %>&page=<%= viewData.page - 1 %>"
                                  class="prevButton">
                                  ← Prev
                                </a>
                                <% } %>

                                  <span>Page <%= viewData.page %> of <%= viewData.totalPages %></span>

                                  <% if (viewData.page < viewData.totalPages) { %>
                                    <a href="./books/search?subject=<%= viewData.subject %>&author=<%= viewData.author %>&title=<%= viewData.title %>&page=<%= viewData.page + 1 %>"
                                      class="nextButton">
                                      Next →
                                    </a>
                                    <% } %>
                            </div>
                            <% } %>
              </div>
              <% } %>
                <% } %>
                  <% } %>
    </div>