<% if (loggedIn) { %>
  <div id="cartContainer">
    <h1>Cart</h1>

    <% if (cart.length===0) { %>
      <div>No items in cart</div>
      <% } else {%>
        <table>
          <thead>
            <th>ISBN</th>
            <th>Title</th>
            <th>Qty</th>
            <th>Price</th>
          </thead>
          <tbody id="cart_tbody">
            <% cart.forEach(function (book) { %>
              <tr>
                <td class="cart_isbn">
                  <%= book.isbn %>
                </td>
                <td class="cart_title">
                  <%= book.title %>
                </td>
                <td class="cart_qty">
                  <%= book.qty %>
                </td>
                <td class="cart_price">
                  <%= book.price %> kr
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% if (cart.length!==0) { %>
          <div id="totalPriceDiv">Total price: <%= cart[0].total_price %>
          </div>
          <button type="button" id="placeOrderButton">Place order</button>
          <% } %>
            <% } %>
  </div>
  <% } %>