<% if (loggedIn) { %>
  <div id="cartContainer" class="hidden">
    <div id="cartHeaderDiv">
      <h1>Cart</h1>
      <button type="button">Close</button>
    </div>
    <% if (cart.length===0) { %>
      <div id="noItemsInCartDiv">No items in cart</div>
      <% } %>

        <div id="cartTableWrapper">
          <% if (cart.length!==0) { %>
            <table>
              <thead>
                <th>ISBN</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sum</th>
              </thead>
              <tbody id="cart_tbody">
                <% cart.forEach(function (book) { %>
                  <tr>
                    <td class="cart_isbn">
                      <%= book.isbn %>
                    </td>
                    <td class="cart_title">
                      <%= book.title %>
                    </td>
                    <td class="cart_price">
                      <%= book.price %> kr
                    </td>
                    <td class="cart_qty">
                      <%= book.qty %>
                    </td>
                    <td class="cart_sum">
                      <%= book.line_total %> kr
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
            <% } %>
        </div>
        <% if (cart.length!==0) { %>
          <div id="totalPriceDiv">Total price: <%= cart[0].total_price %> kr
          </div>
          <form action="./order" method="post">
            <button type="submit" id="placeOrderButton">Place order</button>
          </form>

          <% } %>
  </div>
  <% } %>