<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="<%= baseURL %>">
  <title>Emanuels Book Store</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="./js/index.js" type="module"></script>
  <!-- <script src="./js/placeOrder.js" type="module"></script> -->
  <script src="./js/register.js" type="module"></script>
  <script src="./js/cartShowAndHide.js" type="module"></script>
  <script src="./js/getSelectedInvoice.js" type="module"></script>
</head>

<body>
  <div id="mainWrapper">
    <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>
        <%- include('../partials/userName') %>
          <%- include('../partials/flash') %>
            <%- include('../partials/cart') %>
              <%- body %>
                <footer>
                  Assignment 2 in course 1DV503, Linnéuniversitetet, Emanuel Andersen ea225mw@student.lnu.se
                </footer>
  </div>
</body>

</html>