<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="<%= baseURL %>">
  <title>Emanuels Book Store</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="./js/register.js" type="module"></script>
</head>

<body>
  <main>
    <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>
        <%- include('../partials/flash') %>
          <%- body %>
            <%- include('../partials/footer') %>
  </main>
</body>

</html>